.community{
  padding: 8px 24px 24px;
  height: 270px;
}
.community__title{
  font-size: 1.2em;
  color: var(--Cyan);
}
.community__promo{
  font-size: 1em;
  color: var(--BrightYellow);
  margin: 25px 0 10px 0;
}
.community__description{
  font-size: 0.86em;
  color: var(--GrayishBlue);
  line-height: 27px;
  margin-top: 16px;
}

/*----------Desktop----------*/
@media only screen and (min-width: 680px){
  .community{
    grid-column: 1 / 3;
    padding: 20px 35px 35px;
    height: 218px;
  }
  .community__title{
    font-size: 1.1em;
  }
  .community__description{
    font-size: 1em;
    line-height: 27px;
    margin-top: 8px;
  }
}